
h1 {
    text-align: center;
}

@media (min-width: 415px) {
    .VerseCopyright {
        width: 95vw;
    }
}

.HomeContainer .beta {
    text-align: right;
    margin-right: 10px;
}

.HomeContainer .beta a {
    color: #000;
}