
h1 {
    text-align: center;
}

@media (min-width: 415px) {
    .VerseCopyright {
        width: 95vw;
    }
}

.HomeContainer .beta {
    position: absolute;
    right: 10px;
    top: 0px;
}

.HomeContainer .beta a {
    color: #000;
}

.HomeContainer img {
    width: 2em;
    height: auto;
    display: block;
    margin: auto;
    margin-top: 7px;
}
