.LeftRightButtonBlock {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.LeftRightButtonBlock button {
  display: block;
  background-color: white;
  border: 1px solid silver;
  cursor: pointer;
  padding: 10px;
  font-size: 1.2em;
}

.ReadingContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 90vw;
  margin: auto;
}

.ReadingH2 {
  text-align: center;
}

.VerseHighlight {
  border-bottom: 1px solid silver;
  font-size: 1.25em;
  align-self: center;
}

.NonVerseHighlight {
  padding: 5px;
}
