.LoginCTAContainer p {
  text-align: center;
}

.LoginCTAContainer a {
    text-decoration: none;
}

.CTAButtons a img {
  display: block;
  margin: auto;
  width: 20em;
  height: auto;
}

.CTAButton {
  display: block;
  margin: 10px auto;
  background-color: white;
  border: 1px solid silver;
  cursor: pointer;
  padding: 10px;
}