.SearchResult {
    margin: 10px;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    column-gap: 5px;
}

.SearchResultButton {
    background-color: white;
    outline: 0;
    border: none;
    cursor: pointer;
    text-align: left;
}

@media (min-width: 500px) {
    .SearchResult {
        width: 75vw;
        margin-left: auto;
        margin-right: auto;
    }
}
