.RecordingButton {
  border: 1px solid black;
  background-color: white;
  padding: 1%;
  margin: auto;
  display: block;
  cursor: pointer;
}

.TranscriptWord {
  text-align: center;
  margin-top: 50px;
}

.UserAgentMessage {
  text-align: center;
  display: block;
}

.AccurateRecite {
  background-color: rgb(216, 241, 216);
}

.InaccurateRecite {
  background-color: rgb(255, 113, 113);
}