.VerseContainer {
    text-align: center;
    width: 95vw;
    margin: auto;
}

.p {
    font-size: 18px;
}

.p .v {
  vertical-align: super;
  font-size: smaller;
}

@media (min-width: 500px) {
  .VerseContainer {
    width: 50vw;
  }
}
