.ActivitiesBar {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.ActivityItem {
    padding: 10px;
    margin: 10px;
    border: 1px solid silver;
    background-color: white;
    cursor: pointer;
    display: block;
}

.Active {
    border: 1px solid black;
    color: black;
}

.ClearVerseButton {
    padding: 10px;
    margin: 10px;
    border: 1px solid red;
    background-color: white;
    cursor: pointer;
    display: block;
    color: darkred;
}
