.ActivitiesBar {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.ActivityItem {
    padding: 10px;
    margin: 10px;
    border: 1px solid silver;
    background-color: white;
    cursor: pointer;
    display: block;
}

.Active {
    border: 1px solid black;
    color: black;
}

.ActivityItem:focus {
    border: 1px solid black;
    color: black;
    outline-style: solid;
    outline-width: 0px;
}

.GreenState {
    background-color: rgb(216, 241, 216);
}
