.SearchInput {
    color: black;
    margin: auto;
    display: block;
    border: none;
    border-bottom: 1px solid #777;
    width: 80vw;
    height: 32px;
    font-size: 28px;
    margin-bottom: 40px;
}

.SearchInput::placeholder {
  font-size: 14px;
}

.SearchInput:focus {
    outline: none;
}

@media (min-width: 500px) {
    .SearchInput {
        max-width: 500px;
    }

    .SearchInput::placeholder {
      font-size: 18px;
    }
}

.SearchResultContainer {
}